.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  width: 90%;
}