.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  width: 90%;
}

.gif-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  margin: 10px;
  padding: 10px;
  width: 90%;
}

.individual-gif {
  margin: 15px;
}

.gif-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sort-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  margin: 10px;
  padding: 10px;
  width: 90%;
}

.sort-options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sort-options-container button {
  margin: 15px;
}